<h1>Bus Daten und Ladestationen</h1>

<table>
  <thead>
    <tr>
      <th>Station</th>
      <th>Departure</th>
      <th>Delay</th>
      <th>Bus Number</th>
      <th>Destination</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{busData.stationboard[0].stop.station.name}}</td>
      <td>{{busData.stationboard[0].stop.departure | date: 'M/d/yy, h:mm a'}}</td>
      <td>{{busData.stationboard[0].stop.delay}}</td>
      <td>{{busData.stationboard[0].number}}</td>
      <td>{{busData.stationboard[0].to}}</td>
    </tr>
    <tr>
      <td>{{busData.stationboard[1].stop.station.name}}</td>
      <td>{{busData.stationboard[1].stop.departure | date: 'M/d/yy, h:mm a'}}</td>
      <td>{{busData.stationboard[1].stop.delay}}</td>
      <td>{{busData.stationboard[1].number}}</td>
      <td>{{busData.stationboard[1].to}}</td>
    </tr>
    <tr>
      <td>{{busData.stationboard[2].stop.station.name}}</td>
      <td>{{busData.stationboard[2].stop.departure | date: 'M/d/yy, h:mm a'}}</td>
      <td>{{busData.stationboard[2].stop.delay}}</td>
      <td>{{busData.stationboard[2].number}}</td>
      <td>{{busData.stationboard[2].to}}</td>
    </tr>
    <tr>
      <td>{{busData.stationboard[3].stop.station.name}}</td>
      <td>{{busData.stationboard[3].stop.departure | date: 'M/d/yy, h:mm a'}}</td>
      <td>{{busData.stationboard[3].stop.delay}}</td>
      <td>{{busData.stationboard[3].number}}</td>
      <td>{{busData.stationboard[3].to}}</td>
    </tr>
  </tbody>
</table>

<table>
  <thead>
  <tr>
    <th>Station</th>
    <th>Departure</th>
    <th>Delay</th>
    <th>Bus Number</th>
    <th>Destination</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>{{busWData.stationboard[0].stop.station.name}}</td>
    <td>{{busWData.stationboard[0].stop.departure | date: 'M/d/yy, h:mm a'}}</td>
    <td>{{busWData.stationboard[0].stop.delay}}</td>
    <td>{{busWData.stationboard[0].number}}</td>
    <td>{{busWData.stationboard[0].to}}</td>
  </tr>
  <tr>
    <td>{{busWData.stationboard[1].stop.station.name}}</td>
    <td>{{busWData.stationboard[1].stop.departure | date: 'M/d/yy, h:mm a'}}</td>
    <td>{{busWData.stationboard[1].stop.delay}}</td>
    <td>{{busWData.stationboard[1].number}}</td>
    <td>{{busWData.stationboard[1].to}}</td>
  </tr>
  <tr>
    <td>{{busWData.stationboard[2].stop.station.name}}</td>
    <td>{{busWData.stationboard[2].stop.departure | date: 'M/d/yy, h:mm a'}}</td>
    <td>{{busWData.stationboard[2].stop.delay}}</td>
    <td>{{busWData.stationboard[2].number}}</td>
    <td>{{busWData.stationboard[2].to}}</td>
  </tr>
  <tr>
    <td>{{busWData.stationboard[3].stop.station.name}}</td>
    <td>{{busWData.stationboard[3].stop.departure | date: 'M/d/yy, h:mm a'}}</td>
    <td>{{busWData.stationboard[3].stop.delay}}</td>
    <td>{{busWData.stationboard[3].number}}</td>
    <td>{{busWData.stationboard[3].to}}</td>
  </tr>
  </tbody>
</table>

<table>
  <thead>
  <tr>
    <th>Stadt</th>
    <th>Adresse</th>
    <th>Offen 24H</th>
    <th>Verfügbarkeit</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <th>{{stationData.results[0].properties.City}}</th>
      <th>{{stationData.results[0].properties.Street}}</th>
      <th>{{stationData.results[0].properties.IsOpen24Hours}}</th>
      <th>{{stationData.results[0].properties.Availability}}</th>
    </tr>
    <tr>
      <th>{{stationData.results[1].properties.City}}</th>
      <th>{{stationData.results[1].properties.Street}}</th>
      <th>{{stationData.results[1].properties.IsOpen24Hours}}</th>
      <th>{{stationData.results[1].properties.Availability}}</th>
    </tr>
    <tr>
      <th>{{stationData.results[2].properties.City}}</th>
      <th>{{stationData.results[2].properties.Street}}</th>
      <th>{{stationData.results[2].properties.IsOpen24Hours}}</th>
      <th>{{stationData.results[2].properties.Availability}}</th>
    </tr>
    <tr>
      <th>{{stationData.results[3].properties.City}}</th>
      <th>{{stationData.results[3].properties.Street}}</th>
      <th>{{stationData.results[3].properties.IsOpen24Hours}}</th>
      <th>{{stationData.results[3].properties.Availability}}</th>
    </tr>
    <tr>

    </tr>
  </tbody>
</table>

<br>
<br>

<button (click)="refreshPage()">Refresh</button>

